body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
}

.menu-bar {
  background-color: orange;
  color: #e21212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Make the menu bar fixed */
  top: 5px;
  left: 5px;
  right: 5px;
  height: 60px; /* Adjust the height if necessary */
  z-index: 1000; /* Ensure it stays on top */
  border-radius: 10px;
}

.ad-campaign-container {
  max-width: 500px;
  min-height: 550px;
  margin: 120px auto; /* Adjust margin-top to make space for the fixed menu bar */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* Add a background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for better visibility */
}

.ad-campaign-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-section {
  display: flex;
  align-items: center;
  background-color: #000000;
  
}

.form-group {
  margin-bottom: 15px;
  margin-right: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  min-height: 35px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
