.menu-bar {
  background-color: orange;
  color: #e21212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 60px;
  z-index: 1000;
  border-radius: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.user-section {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}

.username {
  color: #000;
  height: auto;
  width: 100px;
  border-radius: 5px;
  background-color: aqua;
  margin-right: 30px;
}

.button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #af0b0b;
}

.dashboard-container {
  padding-top: 80px;
}

.advertisement-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.advertisement-card {
  width: 300px;
  height: 400px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}



.advertisement-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-color: #f0f0f0; /* Temporary background color for visibility */
}

.advertisement-card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
}

.advertisement-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.advertisement-description {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.advertisement-publisher {
  font-size: 14px;
  color: #555;
}
.dvertisement-image{
  image-rendering: auto;
  position: fixed;
  align-items: center;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.card-footer .dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 5px;
}

.card-footer .likes {
  font-size: 14px;
  color: #888;
}
